
<!-- Left Sidebar - style you can find in sidebar.scss -->

<aside id="tpk-leftnavbar" class="tpk-left-sidebar">

     <!-- Sidebar navigation -->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="sidebar-title">Main Dashboard</li>
        {{#each apps}}
        <li class="sup-level">
            <a href="/{{uri}}/" aria-expanded="false" class="sup-level-link">
              <i class="fas fa-address-card"></i> <span class="hide-menu menu-title">{{name}} </span>
            </a>
           {{#if subMenu}} 
            <ul aria-expanded="false" class="collapse">
              {{#each subMenu}}
              <li class="sub-level"><a href="{{url}}" class="sub-level-link">{{name}}</a></li>
              {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
      </ul>
</aside>

<!-- End Left Sidebar - style you can find in sidebar.scss -->

