@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,600');


/***** colors ****/
$white : #fff;
$black: #333;
$grey: #ccc;
$greymiddle: #b4b4b4;
$greymedium: #999;
$greylight: #f2f2f2;
$blue: #099ef7;

$color-admin: #fb4d6d;
$color-event: #2bc5d8;
$color-settings: #1f88e1;
$color-user: #f7aa37;